 
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %> 
	<title>interview-prepare of Java</title>
</head>

<body style="padding-left:50px; padding-right:50px; overflow:hidden;">
	 
	<% include ../partials/header %> 

	<main>

	<div id="content">
		<h1 style="text-align:center">Algorithm</h1>

		

		
	</div>
	</main>



	<% include ../partials/foot %> 
</body>

</html>