 
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %> 
	<title>Interview-prepare of Database</title>
</head>

<body style="padding-left:50px; padding-right:50px; overflow:hidden;">
	 
	<% include ../partials/header %> 

	<main>

	<div id="content">
		<h1 style="text-align:center">Database</h1>
		<ul class="collapsible popout"  data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header">SQL(Structured Query Language) Database</div>
	      <div class="collapsible-body"><span>
	      	<ul class="collapsible" data-collapsible="accordion">
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>MYSQL</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>ORACAL</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>SQL Server</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>Concepts</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      	</ul>

	      </span></div>
	    </li>


	    <li>
	      <div class="collapsible-header">Non-SQL Database</div>
	      <div class="collapsible-body"> 
	      		 <ul class="collapsible" data-collapsible="accordion">
	      		 <li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>Hadoop / HBase</div>
	      		 	<div class="collapsible-body">
	      		 		<span>

	      		 		</span>
	      		 	</div>
	      		</li>
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>MongoDB</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      		<li>
	      			<div class="collapsible-header"> <i class="material-icons">star</i>Redis</div>
	      		 	<div class="collapsible-body"><span>
	      		 		
	      		 	</span></div>
	      		</li>
	      		
	      	</ul>	
	      </div>
	    </li>
	     
  	</ul>
		

		
	</div>
	</main>



	<% include ../partials/foot %> 
</body>

</html>