 
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %> 
	<title>interview-prepare of Java</title>
</head>

<body style="padding-left:50px; padding-right:50px">
	<%- include('../partials/header') %> 
	<h1 style="text-align:center">Others</h1>
	<ul class="collapsible popout" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header waves-effect waves-light"><i class="material-icons">cloud</i>SaaS</div>
	      <div class="collapsible-body"><span>
	      	 Software as a service (SaaS) is a software distribution model in which a third-party provider hosts applications and makes them available to customers over the Internet. SaaS is one of three main categories of cloud computing, alongside infrastructure as a service <a>(IaaS)</a> and platform as a service <a href="">(PaaS)</a>.
	      </div>
	    </li>
  	</ul>

	<% include ../partials/foot %> 	 

</body>

</html>